#primary-menu
  ul
    li
      a(href='/#browse', id='browse-button', title='Browse', class='button') Browse
    li
      a(href='/#orgs', id='orgs-button', title='Organizations', class='button') Organizations
    li
      a(href='/#events', id='events-button', title='Events', class='button') Events
    li
      a(href='/#contact/add', id='add-button', title='Add', class='button') Add
    li
      a(href='/#email', id='email-button', title='Email list', class='button') Email list